*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  min-width: 20rem;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

body {
  min-width: 20rem;
  min-height: 100vh;
  margin: 0;
}

button,
a {
  -webkit-tap-highlight-color: transparent;
}

button {
  -webkit-user-select: none;
  user-select: none;
}

:where(input, textarea, select):disabled {
  cursor: not-allowed;
  opacity: 0.55;
}
